@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<head>
	<link rel="stylesheet" href="~/css/login.css" />
</head>
<div class="row pt-3 pb-3">
    <div class="col-lg-4 col-md-6 m-auto">
        <div class="col">
            <h5 class="text-center p-2 m-0">
                Login
            </h5>
        </div>

        <form action="https://innwa.com.mm/customer/login" method="post">
            <input type="hidden" name="_token" value="gwDtRLMkUB61ROYPpJOKbKxSllYljIXs73ybqh23">

            <div class="col p-2">
                <input type="email" class="form-control innwa" placeholder="Email*" name="email" required>
            </div>

            <div class="col p-2">
                <input type="password" class="form-control innwa" placeholder="Password*" name="password" required id="password">
                <input type="checkbox" id="show_password" onclick="showPassword()">
                <label for="show_password"> &nbsp; Show Password</label>
            </div>

            <div class="col text-center p-2">
                <button type="submit" class="btn btn-outline-danger rounded-pill">
                    <i class="fa-solid fa-circle-right"></i> Login
                </button>
            </div>
        </form>

        <div class="col pt-3 pb-3">
            <div class="text-center col">
                <a asp-controller="Register" asp-action="Index" class="btn btn-outline-danger rounded-pill">
                    <table>
                        <tr>
                            <td class="ps-2 pe-2">
                                <i class="fa-brands fa-google"></i>
                            </td>
                            <td class="ps-2 pe-2">
                               Register
                            </td>
                        </tr>
                    </table>
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    function showPassword() {
        var passField = document.getElementById("password");
        passField.type = passField.type === "password" ? "text" : "password";
    }
</script>
